* {
    box-sizing: border-box;

}

html {
    height: 100%;
}

.body-receipes {
    font-family: 'Open Sans';
    color: #333;
    font-size: 18px;
    margin: 2%;
    min-height: 100%;
}

.main-receipes {
    padding-top: 120px;
    padding-left: 150px;
    grid-template:
       "receipes" 100px;
}

.receipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
    gap: 20px;
    padding: 10px;
    grid-auto-flow: dense;
}


.item {
    max-width: 1000px;
    min-width:  320px;
    margin: auto;
}
  

.img2 {
    width: 70%;
    border-style: double;
    border-color: #98978B;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}


.item p {
    font-size: 18px;
    margin-top: 0.25rem;
}
    

.item text {
    vertical-align: text-bottom;
}

@media screen and (min-width:768px) {

  
    }