/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

.body-index {
    font-family: 'Open Sans';
    color: #333;
    font-size: 15px;
   
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background-color: #C05A48;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header h1 {
    color: white;
    font-size: 35px;
    font-weight: 100;
    position: center;
    bottom: 35px;
    margin-left: 10px;
}

.logo-nav-conteiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    background-color: #F7DCB6;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}

.navigation ul li {
    flex-grow: 1;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    transition: all 0.4s linear;
}

.navigation ul li a:hover {
    background-color: #D8906B;
}

.main {
    padding-top: 10rem;
}

.bienvenidos {
    width: 65%;
    text-align: center;
    background-color: #F0EDD4;
    margin: 10%;
    justify-content: center;
    align-items: center;
}

img.redimension {
    max-width: 65%;
    
    
}

.bienvenidos p {
    font-size: 18px;
    
}
.footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 6rem;
}


/* Inicio Home*/



/*Fin Home*/


